.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: #f1f5f9;
    border-radius: 0.5em;
}

.menu {
    width: 50%;
    height: 1000vh;
    background-color: #f1f5f9;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
    
}

.visible {
    display: inherit;
}

